@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Montserrat:wght@300;400&display=swap');

body {
  margin: 0;
  background: linear-gradient(
    135deg,
    #ffffff,
    #fafafa
  );
  color: #1e1e1e;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* textura sutil */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(rgba(122,46,58,0.08) 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.4;
}

.hero-content {
  position: relative;
  max-width: 700px;
  padding: 40px;
}

.tag {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1e1e1e;
}

/* título */
.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 400;
  margin: 25px 0;
}

/* texto */
.hero p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}

/* BOTÓN */
.btn-hero {
  display: inline-block;
  margin-top: 35px;
  padding: 14px 38px;
  border-radius: 50px;
  background: #1e1e1e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.4s ease;
  box-shadow: 0 15px 30px rgba(65, 55, 57, 0.3);
}

/* sello */
.btn-hero::after {
  content: "❤";
  position: absolute;
  top: -12px;
  right: -12px;
  background: #1e1e1e;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #fafafa 1px solid;
}

.btn-hero:hover {
  background: #3d3d3d;
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(73, 70, 71, 0.45);
}

@keyframes flotar {
  from { transform: translateY(0); opacity: 0.6; }
  to { transform: translateY(-80px); opacity: 0; }
}
