body {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin: 0; padding: 20px;
    color: #1e1e1e;
}

.paper-container {
    background: #f8f8f8;
    max-width: 1050px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 15px rgba(68, 68, 68, 0.3);
    
}

/* Header */
.top-bar {
    display: flex; justify-content: space-between;
    font-family: Arial, sans-serif; font-size: 13px; font-weight: bold;
    border-bottom: 4px solid #1e1e1e; padding-bottom: 5px;
}

.meta-data {
    display: flex; justify-content: space-between;
    font-size: 11px; font-weight: bold; padding: 5px 0;
    border-bottom: 1px solid #1e1e1e;
}

.main-title {
    font-family: 'Playfair Display', serif; font-size: 75px;
    text-align: center; margin: 15px 0; font-weight: 900;
}

.quote-header {
    text-align: center; font-style: italic; font-size: 20px;
    border-top: 1px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
    padding: 10px 0; margin-bottom: 20px;
}

/* Grid Principal */
.newspaper-grid {
    display: grid;
    grid-template-columns: 180px 1fr 200px;
    gap: 25px;
}

/* Estilo Central (Fiel a la imagen) */
.valentine-section {
    text-align: center; display: flex; align-items: center;
    justify-content: center; gap: 20px; margin-bottom: 20px;
}

.valentine-title {
    font-family: 'Playfair Display', serif; font-size: 28px; margin: 0;
}

.cursive {
    font-family: 'Old Standard TT', serif; font-style: italic; font-size: 34px;
}

.article-top { display: flex; gap: 20px; margin-bottom: 30px; }

.main-photo { width: 300px; height: 350px; background: #eee; border: 1px solid #1e1e1e; flex-shrink: 0; }
.side-photo { width: 180px; height: 180px; background: #eee; border: 1px solid #1e1e1e; flex-shrink: 0; }

.placeholder-img img {
    width: 100%; height: 100%; object-fit: cover; filter: grayscale(100%);
}

.text-block p { font-size: 13px; line-height: 1.5; text-align: justify; margin: 0; }

.flex-row { display: flex; gap: 20px; align-items: flex-start; }

h3 { font-family: 'Playfair Display', serif; font-size: 22px; border-top: 1px solid #1e1e1e; padding-top: 10px; }

.footer-note {
    text-align: center; border-top: 1px solid #1e1e1e; border-bottom: 1px solid #1e1e1e;
    font-weight: bold; padding: 5px; margin-top: 20px;
}

/* Columnas Laterales */
.tag { background: #1e1e1e; color: white; text-align: center; font-size: 11px; padding: 2px; margin-bottom: 10px; }
.sidebar-left { border-right: 1px solid #1e1e1e; padding-right: 15px; font-size: 12px; }
.sidebar-right { border-left: 1px solid #1e1e1e; padding-left: 15px; font-size: 12px; }
.ad-box { border: 2px dashed #1e1e1e; padding: 10px; margin-top: 20px; text-align: center; }

/* Info Inferior */
.bottom-info {
    display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;
    border-top: 3px solid #1e1e1e; margin-top: 20px; padding-top: 15px;
}
.bottom-info h5 { border-bottom: 1px solid #1e1e1e; margin: 0 0 10px 0; }
.bottom-info p { font-size: 11px; }

.btn-hero {
  display: inline-block;
  margin-top: 35px;
  margin-left: 210px;
  padding: 14px 38px;
  background: #1e1e1e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.4s ease;
  box-shadow: 0 15px 30px rgba(68, 68, 68, 0.3);
}

/* sello */

.btn-hero:hover {
  background: #1e1e1e;
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(73, 70, 71, 0.45);
}