:root {
    --red: #e62b1e;
    --black: #1e1e1e;
    --gray: #f4f4f4;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

/* --- SECCIÓN INICIO (HERO) --- */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #eee;
}

.hero-tag { letter-spacing: 5px; color: #888; font-size: 14px; font-weight: bold; }

.hero-title { 
    font-family: 'Oswald'; font-size: clamp(40px, 8vw, 90px); line-height: 0.9; 
    margin: 20px 0; color: var(--black);
}



.hero-divider { width: 80px; height: 5px; background: var(--black); margin: 30px auto; }

.hero-description { 
    max-width: 600px; font-family: 'Playfair Display'; 
    font-style: italic; font-size: 20px; color: #444; margin: 0 auto;
    padding: 0 20px;
}

.scroll-arrow { margin-top: 50px; color: #bbb; }

.arrow-icon { font-size: 30px; color: var(--black); animation: bounce 2s infinite; }

@keyframes bounce { 0%, 100% {transform: translateY(0);} 50% {transform: translateY(10px);} }

/* --- CONTENEDOR TIMELINE --- */
.timeline-container {
    max-width: 1000px;
    margin: 100px auto;
    position: relative;
    padding: 0 20px;
}

.main-line {
    position: absolute;
    left: 50%; width: 2px; height: 100%;
    background: #ddd; transform: translateX(-50%);
}

.milestone {
    width: 50%;
    margin-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}

.milestone.left { left: 0; padding-right: 50px; text-align: right; }
.milestone.right { left: 50%; padding-left: 50px; text-align: left; }

/* Círculos de la línea */
.milestone::after {
    content: ''; position: absolute; top: 25px;
    width: 16px; height: 16px; background: #fff;
    border: 3px solid var(--black); border-radius: 50%; z-index: 5;
}

.left::after { right: -11px; }
.right::after { left: -11px; }

.year { font-family: 'Oswald'; font-size: clamp(40px, 6vw, 65px); color: var(--black); margin: 0; line-height: 1; }
.box h3 { font-family: 'Oswald'; font-size: 24px; text-transform: uppercase; margin: 10px 0; }
.box p { color: #666; font-size: 15px; line-height: 1.6; }

/* Placeholders para fotos */
.img-space1 { width: 100%; height: 300px; background-image: url('nosotros.jpeg'); background-size: cover; border: 1px solid #eee; margin-top: 20px; }
.img-space2 { width: 100%; height: 600px; background-image: url('novios1.jpeg'); background-size: cover;  border: 1px solid #eee; margin-top: 20px; }
.img-space3 { width: 100%; height: 600px; background-image: url('mali.jpeg'); background-size: cover;  border: 1px solid #eee; margin-top: 20px; }
.img-space4 { width: 100%; height: 600px; background-image: url('promesa.jpg'); background-size: cover;  border: 1px solid #eee; margin-top: 20px; }
.grid-images { display: flex; gap: 10px; margin-top: 15px; justify-content: inherit; }
.small-img1 { width: 400px; height: 600px; background-image: url('entrega.jpg'); background-size: cover; border: 1px solid #eee; }

/* --- RESPONSIVO (MÓVIL) --- */
@media (max-width: 768px) {
    .main-line { left: 20px; }
    .milestone { width: 100%; text-align: left !important; padding-left: 50px !important; padding-right: 0 !important; }
    .milestone::after { left: 12px !important; }
    .hero-title { font-size: 55px; }
}
.btn-hero {
    display: inline-block;
    margin-top: 35px;
    margin-left: 560px;
    margin-bottom: 10px;
    padding: 14px 38px;
    background: #1e1e1e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.4s ease;
    box-shadow: 0 15px 30px rgba(68, 68, 68, 0.3);
}

/* sello */

.btn-hero:hover {
    background: #1e1e1e;
    transform: translateY(-4px);
    box-shadow: 0 20px 40px rgba(73, 70, 71, 0.45);

}




